#name{
    margin-left: 100px;
    width: 120px;
}
#text{
    margin-left: 73px;
    width: 650px;
    height: 250px;
    vertical-align: middle;
}
.input{
    margin-left: 85px;
}
#code{
    margin-left: 5px;
}
#form p{
    text-align: left;
}