.news_content{
    border-bottom: 1px solid #CCCCCC;
    width: 880px;
    height: 160px;
    margin: 5px auto;
}
.news_content a:first-child{
    display: block;
    float: left;
}
.news_content img{
    width: 200px;
}
.news_content_title{
    width: 600px;
    float: left;
    margin-left: 5px;
}
.news_content_title span{
    color: #666666;
    display: inline-block;
    float: right;
    font-size: 12px;
}
.xwbt{
    font-size: 16px;
    color: #FC990E;
}
.xwnr{
    width: 600px;
    float: left;
    margin-left: 5px;
    margin-top: 40px;
}
.xwnr a{
    font-size: 12px;
    color: #666666;
}